:root {
  --primary-color: rgb(0, 120, 255);
  --primary-color-rgb: 0, 120, 255;
  --primary-color-light: rgb(135, 206, 250);
  --primary-color-light-rgb: 135, 206, 250;
  --primary-color-dark: rgb(0, 70, 150);
  --primary-color-dark-rgb: 0, 70, 150;

  --disabled-color: #d3d3d3;
  --success-color: rgb(0, 120, 255);
  --error-color: #ff0000;

  --form-text-color: white;

  --border-radius: 0.5rem;

  --divider-color: #d3d3d3;

  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}
